nav {
    text-align: center;
}

nav > h1 {
    display: inline;
}

nav > h1 > a {
    text-decoration: none;
}

a {
    color: #2c3e50;
}

article h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    color: #2c3e50;
}

article h2 > a:hover:after, h3 > a:hover:after, h4 > a:hover:after, h5 > a:hover:after, h6 > a:hover:after {
    content: "🔗";
}

article {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #222;
    padding: 0 10px;
}

img {
    max-width: 650px;
}

h1,h2,h3 {
    line-height: 1.2;
}

code {
    padding: 0.5ex;
    font-size: medium;
    border: 2px solid #eee8d5;
    background: #fdf6e3;
    color: #073642;
}

pre > code {
    display: block;
    line-height: 1.2em;
    overflow: auto;
}

pre {
    overflow: auto;
    padding: 0.5ex;
    padding-left: 1.5ex;
    background-color: #eee8d5;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.26);
}
